@{
    ViewData["Title"] = "MyAsset";
}

<h2 class="page-header">我的资产</h2>
<div class="row nomargin">
    <div class="col-xs-4">
        <div class="asset1">小蚁股</div>
    </div>
    <div class="col-xs-4">
        <div class="asset2">小蚁币</div>
    </div>
    <div class="col-xs-4">
        <div class="asset3">股权</div>
    </div>
    <div class="col-xs-4">
        <div class="asset4">货币</div>
    </div>
    <div class="col-xs-4">
        <div class="asset5">其它</div>
    </div>
</div>