@{
    ViewData["Title"] = "MyAsset";
}

<h2 class="page-header">我的资产</h2>
<div class="row nomargin">
    <div class="col-sm-4">小蚁股</div>
    <div class="col-sm-4">小蚁币</div>
    <div class="col-sm-4">股权</div>
    <div class="col-sm-4">货币</div>
    <div class="col-sm-4">其它</div>
</div>